autopep8
ipython
jupyter
jupyter_contrib_nbextensions
matplotlib
numpy==1.18.4
pytest
pytest-cov
nbconvert
nbformat
scipy
scikit-learn
setuptools>=41.0.0
six>=1.12.0
sphinx
sympy
control
yapf
pylint
flake8
tensorflow